body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  line-height: 24px;
  background: #111 url('../img/body-bg.jpg') no-repeat 50% 0;
  text-transform: uppercase;
}
.container {
  width: 940px;
  margin: 0 auto;
}
.container :after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
}
.main-header {
  background: #000;
  margin-bottom: 30px;
}
.main-nav {
  vertical-align: top;
  list-style: none;
  float: left;
}
.main-nav ul {
  max-width: 780px;
}
.main-nav li {
  display: inline-block;
  vertical-align: top;
}
.main-nav a {
  color: #fff;
  display: inline-block;
  float: left;
  padding: 24px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.main-nav a:hover {
  background-color: #242424;
}
.main-nav a:link,
.main-nav a:visited,
.main-nav a:hover,
.main-nav a:active {
  color: #fff;
}
.user-block {
  float: right;
  max-width: 140px;
  font-size: 16px;
}
.login {
  color: #fff;
  display: inline-block;
  position: relative;
  padding: 24px 21px;
  padding-left: 50px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
}
.login:hover {
  background-color: #242424;
}
.login:hover:before {
  opacity: 1;
}
.login:before {
  content: "";
  position: absolute;
  left: 21px;
  top: 28px;
  width: 18px;
  height: 16px;
  background: transparent url("../img/login-icon.png") no-repeat;
  opacity: 0.3;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
}
.logo {
  width: 365px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.features {
  color: #f7f4f1;
  margin-bottom: 70px;
}
.feature-item {
  width: 300px;
  float: left;
  margin-right: 20px;
  text-align: center;
}
.feature-item:last-child {
  margin-right: 0;
}
.feature-item p {
  margin: 10px;
}
.feature-item__title {
  position: relative;
  padding-bottom: 45px;
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 42px;
}
.feature-item__title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -10px;
  background-color: #fff;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.index-content {
  background: url('../img/content-shadow.png') no-repeat center, #f8f5f2 url('../img/bg-content.png');
  margin-bottom: 34px;
}
.column-title {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 30px;
}
.content {
  display: inline-block;
  padding: 50px 80px;
}
.content.left-column {
  width: 350px;
  float: left;
  padding-right: 50px;
}
.content.right-column {
  float: right;
  width: 300px;
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 33px;
  margin-right: 15px;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.btn:hover,
.btn:active {
  background: #663d15;
}
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}
.btn:disabled:hover {
  background: #000;
}
.news__preview {
  margin: 0;
  padding: 0;
  list-style: none;
}
.news__preview li {
  margin-bottom: 25px;
}
.news__preview p {
  font-weight: bold;
}
.news__preview time {
  font-weight: normal;
  text-transform: lowercase;
}
.gallery {
  position: relative;
  height: 260px;
}
.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}
.gallery-content {
  height: 164px;
  margin: 0;
  border: 7px solid #fff;
  background-color: #ccc;
}
.gallery__btnprev {
  left: 0;
}
.btn.gallery__btnnext {
  right: 0;
}
.contacts p {
  margin-bottom: 35px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}
.appointment-form p {
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}
.appointment-form input {
  display: inline-block;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 106px;
  padding: 10px 15px;
  border: 2px solid #000;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  background: #f9f6f3;
  color: #000;
  outline: none;
}
.appointment-form input:focus {
  border: 2px solid #663d15;
}
.appointment-form input:nth-child(even) {
  margin-right: 0;
}
.appointment-form .btn {
  clear: both;
  width: 100%;
  color: #fff;
  background-color: #000;
}
.appointment-form .btn:hover {
  background: #663d15;
}
.main-footer {
  background: #242424;
  color: #fff;
  padding: 50px 0;
  margin-top: 64px;
}
.footer__address {
  float: left;
  margin-right: 100px;
}
.footer__social-icons {
  float: left;
}
.social-btn {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 6px;
}
.social-btn.social-btn-vk {
  background: #000 url('../img/social.png');
  background-position: 0 47px;
}
.social-btn.social-btn-fb {
  background: #000 url('../img/social.png');
  background-position: 0 0;
}
.social-btn.social-btn-ig {
  background: #000 url('../img/social.png');
  background-position: 0 92px;
}
.social-btn:hover {
  background-color: #663d15;
}
.footer__copyright {
  float: right;
}
.footer__copyright .btn {
  margin: 0 auto;
  display: block;
}
.footer__copyright p {
  margin-bottom: 5px;
  text-align: center;
}
.footer__copyright .btn:hover {
  color: #000;
  background: #fff;
}
